Source: virt-top
Section: admin
Priority: extra
Maintainer: Guido Guenther <agx@sigxcpu.org>
Build-Depends: cdbs, 
 debhelper (>= 7), 
 autotools-dev, 
 ocaml-nox, 
 ocaml-findlib, 
 quilt,
 libvirt-ocaml-dev (>= 0.4.4.2), 
 libcurses-ocaml-dev, 
 libcsv-ocaml-dev, 
 libgettext-ocaml-dev, 
 libxml-light-ocaml-dev,
 dh-ocaml (>= 0.4.1)
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/pkg-ocaml-maint/packages/virt-top.git
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/virt-top.git
Homepage: http://et.redhat.com/~rjones/virt-top/

Package: virt-top
Architecture: any
Depends: ocaml-base-nox-${F:OCamlABI}, ${shlibs:Depends}
Description: show stats of virtualized domains
 virt-top is modelled after the "ordinary" top utility and many keys and
 command line options are the same.
 .
 It uses libvirt so it capable of showing stats across a variety of
 different virtualization systems.

